# Model Building

In [5]:
import sys
sys.path.append('C:/Pradeepa/SEMESTER2_EPITA/Data Science in production/ml-powered-application/app/api')

In [6]:
import pandas as pd
from flight_prices.train import build_model

training_data_df = pd.read_csv('../../../data/Clean_Dataset.csv')
model_performance_dict = build_model(training_data_df)
print(model_performance_dict)

{'R2': 0.95}

# Model inference

In [7]:
import pandas as pd
from flight_prices.inference import make_predictions

user_data_df = pd.read_csv('../../../data/Clean_Dataset.csv')
predictions = make_predictions(user_data_df)
predictions

            Id    SalesPrice
0            0   6494.310547
1            1   6535.341797
2            2   5804.292969
3            3   9503.900391
4            4   9524.416016
...        ...           ...
300148  300148  50188.867188
300149  300149  50276.058594
300150  300150  51150.523438
300151  300151  50168.351562
300152  300152  50188.867188

[300153 rows x 2 columns]